bert_score
evaluate
fire
nltk
numpy
optimum
packaging
pandas
psutil
pyarrow
PyYAML
rouge_score
scikit_learn
setuptools
six
torch
tqdm
transformers
wandb
optimum
bitsandbytes
scikit-learn
accelerate 
peft
trl